<header>
  <div class="top-navbar">
    <nav class="top-navbar">
        <div class="navbar-logo">
          <a href="/"><%= image_tag('logo-thp.png', alt: 'Logo', id: 'logo') %></a>
        </div>
        <div class="navbar-right" id="navigation">
          <ul class="navbar-right">
            <li class="nav-items">
              <a href="https://www.facebook.com/thehackingproject/"><%= image_tag('facebook.png', alt: 'Logo Facebook') %></a>
            </li>
            <li class="nav-items">
              <a href="https://mobile.twitter.com/the_hacking_pro"><%= image_tag('twitter.png', alt: 'Logo Twitter') %></a>
            </li>
             <li class="nav-items">
              <a href="https://www.instagram.com/the_hacking_project/"><%= image_tag('instagram.png', alt: 'Logo Instagram') %></a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</header>
