<section class="banner">
<div class="banner-container container">
  <div class="banner-wrapper wrapper">
    <div class="upper-banner row">
      <div class="banner-content col-12 col-sm-8 col-md-8">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
        <% end %>
        <div class="container-fluid">
          <h1 class="title">The Hacking Project</h1>
          <h4>Une formation gratuite en 3 mois !</h4>
        </div>
       <div class="container-fluid text">
          <div class="description">
            <p>Toi aussi tu veux être capable de comprendre le monde du digital qui nous entoure ? Viens faire The Hacking Project !</p>
          </div>
        </div>
        <div class="banner-btn">
          <a href="<%= subscribe_path %>" class="btn-light-green">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

