<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>LandingPage#index</h1>
<p>Find me in app/views/landing_page/index.html.erb</p>

<%= link_to("S'inscrire", subscribe_path) %>
