section.banner {
  padding-top: 25px;
  position: absolute;
  background: linear-gradient(225deg, rgba(67, 198, 172,0.8) 5%, rgba(25,22,84,0.7) 70%), image-url('banner-commerce.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.banner-container {
  margin: 0 auto;
  width: 100%;
}

.banner-content {
  margin-top: 160px;
  margin-left: 20%;
  font-family: $title-font;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.banner-content .title {
  font-weight: 600;
  font-size: 70px;
  padding-bottom: 2px;
}

.banner-content h4 {
  font-weight: 400;
  font-size: 40px;
  text-indent: 2%;
  padding-bottom: 10px;
}

.banner-content .text {
  font-size: 17px;
  text-align: justify;
  padding-bottom: 30px;
  max-width: 650px;
}

.banner-btn {
  margin-left: 60%;
}

.banner-btn .btn-light-green {
  padding: 5px 50px;
}
