.btn-light-green {
  background-color: $light-green;
  border: 1px solid $light-green;
  border-radius: 25px;
  box-shadow: 1px 2px 5px $gray;
  color: $white;
  font-family: $title-font;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.btn-light-green:hover {
  color: $white;
  text-decoration: none;
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
  cursor: pointer;
}

